html,
body,
div,
ul,
li,
footer,
img,
header {
    margin: 0px;
}

body {
    background-color: rgb(240, 240, 240);
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 10%;
}

.header {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-top: 10px;
}

.login-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.login {
    align-self: flex-end;
    font-size: 18px;
}

.primary-menu {
    display: flex;
    flex: 1;
    align-self: flex-end;
    font-size: 30px;
}

.primary-menu > ul {
    padding-top: 20px;
}

.primary-menu > ul > li {
    color: gray;
    background-color: lightgray;
    border-radius: 10px;
    padding: 5px;
    margin-left: 20px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    color: rgb(71, 69, 197);
}

.secondary-menu {
    display: flex;
    flex: 1;
    font-size: 20px;
}

.secondary-menu > ul {
    align-self: start;
}

.secondary-menu-links {
    display: flex;
    flex: 1;
}

.secondary-menu-links > li {
    background-color: lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    display: flex;
}

.secondary-menu-language {
    display: flex;
    flex-direction: row;
}

.lang-en {
    background-color: lightgray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
}
.lang-ca {
    background-color: lightgray;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
}
.lang-es {
    background-color: lightgray;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
}

.separador {
    display: flex;
    flex: 1;
}

div > ul > li {
    list-style: none;
    float: left;
    margin-left: 10px;
}
