html,
body,
div,
ul,
li,
p,
header,
footer,
img,
h1,
h2,
h3,
h4,
h5 {
  margin: 0px;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(255, 255, 255);
}

footer {
  display: flex;
  flex: 1;
  width: 100%;
  height: 150px;
  background-color: rgb(102, 102, 102);
  margin-top: 20px;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.container-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 1100px;
  align-self: center;
}

.header {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: 10px;
}

.login-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.login {
  align-self: flex-end;
  font-size: 18px;
}

.login > ul > li {
  list-style: none;
  float: left;
  margin-left: 20px;
}

.primary-menu {
  display: flex;
  flex: 1;
  font-size: 30px;
}

.primary-menu > ul {
  margin-top: 20px;
}

.primary-menu > ul > li {
  color: gray;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  padding: 5px;
  margin-left: 20px;
  list-style: none;
  float: left;
}

.web-title {
  font-size: 40px;
  font-weight: bold;
  color: rgb(71, 69, 197);
}

.secondary-menu {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  font-size: 18px;
  margin-top: 20px;
  align-content: flex-start;
}

.secondary-menu-links {
  color: rgb(102, 102, 102);
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.secondary-menu-links > li {
  list-style: none;
  float: left;
  background-color: rgb(230, 230, 230);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 10px;
  padding: 5px;
}

.secondary-menu-language {
  color: rgb(102, 102, 102);
  display: flex;
  flex: 1;
  flex-direction: row;
}
.secondary-menu-language > li {
  list-style: none;
  float: left;
  align-self: flex-end;
}

.lang-en {
  background-color: rgb(230, 230, 230);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
}
.lang-ca {
  background-color: rgb(230, 230, 230);
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
}
.lang-es {
  background-color: rgb(230, 230, 230);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
}

.title {
  font-size: 38px;
  font-weight: bold;
  color: rgb(98, 132, 224);
  margin-bottom: 20px;
}

.inner-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin-top: 20px;
}

.left-section {
  display: flex;
  flex: 2;
  flex-direction: column;
  margin-right: 20px;
}
.left-section-content {
  display: flex;
  flex-direction: row;
}

.right-section {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 20px;
}

.img-right-float {
  float: right;
}

.small-title {
  color: rgb(71, 69, 197);
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.schedule {
  margin-top: 20px;
}

.schedule > p {
  margin-top: 10px;
}

.festival {
  margin-top: 10px;
}

.postit-container {
  display: flex;
  margin-top: 20px;
}

.postit-left {
  margin-right: 10px;
}

.postit-right {
  margin-left: 10px;
}

.postit {
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px #888888, -2px -2px 10px #888888;
  padding: 15px;
}

.leftdeg1 {
  transform: rotate(-1deg);
}

.rightdeg2 {
  transform: rotate(2deg);
}

.rightdeg1 {
  transform: rotate(1deg);
}

.postit-pink {
  background-color: lightpink;
}

.postit-green {
  background-color: rgb(184, 221, 173);
}

.postit-blue {
  background-color: rgb(127, 178, 253);
}

.postit-yellow {
  background-color: rgb(255, 242, 168);
}

.postit-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.register-container {
  display: flex;
  background-color: rgb(154, 194, 255);
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  background-color: rgb(130, 175, 117);
  border-radius: 8px;
  width: 90%;
  height: 50%;
  margin-bottom: 5px;
}

.whats {
  margin-left: 10px;
  margin-right: 10px;
}

.grey-container {
  display: flex;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
  flex-direction: column;
  margin-top: 20px;
}

.grey-container-row {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 10px;
}

img + p {
  margin-left: 10px;
}

.yellow-container {
  display: flex;
  background-color: rgb(253, 246, 181);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 5px 5px 5px #888888;
  transform: rotate(1deg);
}

.yellow-container-row img {
  margin-right: 10px;
}

.red-title {
  font-size: 28px;
  color: brown;
  font-weight: bold;
  margin-bottom: 20px;
}

.rss-buttons-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.rss {
  display: flex;
  width: 70%;
  background-color: rgb(143, 143, 255);
  border-radius: 8px;
  padding-left: 5px;
  align-self: flex-end;
  margin-bottom: 10px;
}

.rss-identica {
  background-color: rgb(143, 143, 255);
}

.rss-twitter {
  background-color: #00acee;
}

.rss-text {
  color: white;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
}

.icon-text {
  display: flex;
  color: white;
}

.icon-text > p {
  display: flex;
  color: white;
  margin-left: 10px;
}

.icon-text a {
  color: white;
}

.creative {
  display: flex;
  width: 30%;
}

.separador {
  display: flex;
  flex: 1;
}
