.container {
    flex-direction: row;
    display: flex;
    text-align: center;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: column;
}

h3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.btn {
    margin: 5pt;
}

.nom {
    text-align: center;
    margin-top: 10pt;
}

li {
    color: gray;
    background-color: rgb(230, 230, 230);
    border-radius: 10px 0px;
    padding: 5px;
    margin-left: 20px;
    list-style: none;
    float: left;
}

a {
    text-decoration: none;
    color: rgb(73, 0, 73);
}
