.container {
    flex-direction: row;
    display: flex;
    text-align: center;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: column;
}

h3 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.btn {
    margin: 5pt;
}

.nom {
    text-align: center;
    margin-top: 10pt;
}
