
p {
    margin: 20px 0;
}
.form-control {
    box-shadow: none;
}
.btn {
    font-family: 'Oswald', sans-serif;
}
.panel {
    box-shadow: none;
}
.panel .panel-heading {
    font: 14px 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 10px;
}
.panel .panel-body {
    padding: 10px;
}
body {
    background-image: url(../images/bg.png);
    border-top: 5px solid #7e7e7e;
}
body .wrapper {
    overflow: hidden;
    padding: 0 0 50px 0;
}
body .wrapper header {
    padding: 20px 0;
}
body .wrapper header .form-search {
    width: 200px;
    display: inline-block;
}
body .wrapper .navbar a {
    font: 14px 'Oswald', sans-serif;
    text-transform: uppercase;
}
body .wrapper .heading {
    background: transparent url(../images/h1-bg.png);
    height: 40px;
    margin: 30px 0;
    padding-left: 20px;
}
body .wrapper .heading h1 {
    background: url(../images/bg.png);
    color: #7e7e7e;
    display: inline-block;
    font: normal 40px/40px 'Oswald', sans-serif;
    margin: 0;
    padding: 0 10px;
    text-transform: uppercase;
}
body .wrapper .submenu {
    margin-bottom: 30px;
}
body .wrapper .submenu li {
    display: list-item;
    font: 300 14px 'Oswald', sans-serif;
    list-style-position: inside;
    list-style-type: square;
    padding: 10px;
    text-transform: uppercase;
}
body .wrapper .submenu li.active {
    color: #29c5e6;
}
body .wrapper .submenu li a {
    color: #8f8f8f;
    text-decoration: none;
}
body .wrapper .submenu li a:hover {
    color: #8f8f8f;
}
body .wrapper .jumbotron {
    border-radius: 0;
    padding: 0;
    margin: 0;
}
body .wrapper .jumbotron blockquote {
    border-left: none;
}
body .wrapper .jumbotron blockquote p {
    font: 300 italic 33px 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 0;
}
body .wrapper .jumbotron blockquote small {
    text-align: right;
    color: #1d8ea6;
    font: 300 20px 'Oswald', sans-serif;
}
body .wrapper .jumbotron blockquote small:before {
    content: '';
}
body .wrapper h2 {
    background: none repeat scroll 0 0 #29c5e6;
    color: #fff;
    font: 300 30px 'Oswald', sans-serif;
    padding: 0 10px;
    text-transform: uppercase;
}
body .wrapper .team .row {
    margin-top: 20px;
}
body .wrapper .team .row .col {
    white-space: nowrap;
}
body .wrapper .team .row .col .thumbnail {
    margin-bottom: 5px;
}
body .wrapper .team .row .col-sm-offset-1 {
    margin-left: 3.7%;
}
body .wrapper .team .row .caption h3 {
    font: 300 16px 'Oswald', sans-serif;
    margin: 0;
}
body .wrapper .team .row .caption p {
    font: 300 14px 'Oswald', sans-serif;
    color: #29c5e6;
    margin: 0;
}
body footer {
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 11px;
    line-height: 13px;
    overflow: hidden;
}
body footer .container {
    height: 110px;
    padding: 10px 0;
}
body footer .container h3 {
    border-bottom: 1px solid #919191;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-family: 'Oswald', sans-serif;
    margin: 0 0 10px;
    text-transform: uppercase;
}
body footer .container p {
    margin: 5px 0;
}
body footer .container .twitter p {
    padding-right: 15px;
}
body footer .container .twitter time a {
    color: #b4aeae;
    text-decoration: underline;
}
body footer .container a {
    color: #dbdbdb;
}
body footer .container .sitemap a {
    display: block;
    font-size: 12px;
    margin-bottom: 5px;
}
body footer .container .social .social-icon {
    width: 30px;
    height: 30px;
    background: url(../images/social.png) no-repeat;
    display: inline-block;
    margin-right: 10px;
}
body footer .container .social .social-icon-small {
    width: 16px;
    height: 16px;
    background: url(../images/social-small.png) no-repeat;
    display: inline-block;
    margin: 5px 6px 0 0;
}
body footer .container .social .twitter {
    background-position: 0 0;
}
body footer .container .social .facebook {
    background-position: -30px 0;
}
body footer .container .social .google-plus {
    background-position: -60px 0;
}
body footer .container .social .vimeo {
    background-position: 0 0;
}
body footer .container .social .youtube {
    background-position: -16px 0;
}
body footer .container .social .flickr {
    background-position: -32px 0;
}
body footer .container .social .instagram {
    background-position: -48px 0;
}
body footer .container .social .rss {
    background-position: -64px 0;
}
body footer .container .footer-logo {
    float: right;
    margin-top: 20px;
    font-size: 10px;
    text-align: right;
}
body footer .container .footer-logo a {
    text-decoration: underline;
}
